# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# 你没有把编译的中间文件屏蔽
*.王田
*.waterun
*.user

/build
/bin
/obj
/out

*.d
*.o
*.crf
*.lst

MDK-ARM/RTE/_TAIER_usb_hs/RTE_Components.h
MDK-ARM/TAIER_usb_hs/TAIER_usb_hs_TAIER_usb_hs.dep
MDK-ARM/TAIER_usb_hs/TAIER_usb_hs.lnp
MDK-ARM/TAIER_usb_hs/TAIER_usb_hs.sct

Debugger/Ozone_*.csv
